* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    color: #333;
    line-height: 1.5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header, footer {
    margin: 1rem 0;
}

.logo {
    max-width: 28rem;
}

.main {
    text-align: center;
}

.intro {
    font-size: 3rem;
    font-weight: lighter;
    background-color: #f8f9fa;
    padding: 0.75rem 1.5rem;
    margin: 2rem 1rem;
}

.btn {
    display: inline-flex;
    align-items: center;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    border-radius: 0.25rem;
    color: #fff;
    background-color: #800000;
    border: 1px solid #800000;
    transition: background-color 0.15s ease-in-out;
}

.btn:hover {
    background-color: #660000;
}

.btn .icon {
    margin-left: 0.5rem;
}
